<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mylaswarcoapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLASWARCOApp">
        <activity android:name=".Faqs"></activity>
        <activity android:name=".Contact" />
        <activity
            android:name=".TestingActivity"
            android:label="@string/title_activity_testing"
            android:theme="@style/Theme.MyLASWARCOApp.NoActionBar" />
        <activity android:name=".Complaint" />
        <activity android:name=".Stakeholders" />
        <activity android:name=".Guideline" />
        <activity android:name=".Permit" />
        <activity android:name=".Service" />
        <activity android:name=".About" />
        <activity android:name=".Dashboard" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>